{% extends "base.html" %}

{% block content %}
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-position: center; background-image: url(https://ei.marketwatch.com/Multimedia/2016/11/14/Photos/ZH/MW-FA143_foodpr_20161114104830_ZH.jpg?uuid=ca5a6656-aa81-11e6-95fb-001cc448aede);">
        <h2 class="l-text2 t-center">
            Корзина
        </h2>
    </section>
    
    <!-- Cart -->
    <section class="cart bgwhite p-t-70 p-b-100">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Корзина пуста</h4>
                    <p class="p-t-10">
                        <a href="/catalog">В каталог</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container d-none">
            <!-- Cart item -->
            <div class="container-table-cart pos-relative">
                <div class="wrap-table-shopping-cart bgwhite">
    
                    <style>
                        .simpleCart_items table {
                            border-collapse: collapse;
                            width: 100%;
                            min-width: 992px;
                        }
                        .simpleCart_items table th,
                        .simpleCart_items table td {
                            font-family: Montserrat-Bold;
                            font-size: 13px;
                            color: #555555;
                            line-height: 1.5;
                            text-transform: uppercase;
                            padding-top: 16px;
                            padding-bottom: 16px;
                        }
                        .simpleCart_items table .itemRow {
                            border-top: 1px solid #e6e6e6;
                            border-bottom: 1px solid #e6e6e6;
                        }

                        .simpleCart_items table .item-thumb {
                            width: 225px;
                            padding-left: 50px;
                        }
                        .simpleCart_items table .item-thumb .cart-img-product {
                            width: 90px;
                            height: 90px;
                            position: relative;
                        }
                        .simpleCart_items table .item-thumb .cart-img-product img {
                            width: 100%;
                            height: 100%;
                        }
                        .simpleCart_items table .item-link {
                            width: 330px;
                            padding-right: 30px;
                            font-size: 15px;
                        }
                        .simpleCart_items table .item-price {
                            width: 133px;
                            padding-right: 30px;
                        }
                        .simpleCart_items table .item-quantity {
                            padding-left: 70px;
                            width: 355px;
                            padding-right: 30px;
                        }
                        .simpleCart_items table .item-attr {
                            padding-right: 30px;
                        }
                    </style>
    
                    <script type="text/javascript">
                        document.addEventListener('DOMContentLoaded', () => {
                            let shipping = JSON.parse('{{ tm_order_shipping()|raw }}');
                            
                            if (shipping.length) {
                                simpleCart.shipping(() => {
                                    let total = simpleCart.total(),
                                        price = null;
                                    
                                    for (let i = 0; i < shipping.length; i++) {
                                        if (total >= shipping[i].total) {
                                            price = shipping[i].price;
                                        }
                                    }
                                    
                                    return price;
                                });
                            }
                        });
                    </script>
                    
                    <div class="simpleCart_items"></div>
                </div>
            </div>
            
            <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
                <div class="flex-w flex-m w-full-sm">
                    <div class="size11 bo4 m-r-10">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="coupon" placeholder="Купон">
                    </div>
        
                    <div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
                        <!-- Button -->
                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                            Применить
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="row ">
                <!-- Information -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-l-40 p-r-40 p-t-30 p-b-38 m-b-30">
                    <h5 class="m-text20 p-b-24">
                        Покупатель
                    </h5>
    
                    <div class="flex-w flex-m w-full-sm m-b-10">
                        <div class="size11-100 bo4 m-r-10">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Имя и фамилия" required>
                        </div>
                    </div>
    
                    <div class="flex-w flex-m w-full-sm m-b-10">
                        <div class="size11-100 bo4 m-r-10">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone" placeholder="Телефон" required>
                        </div>
                    </div>
    
                    <div class="flex-w flex-m w-full-sm m-b-10">
                        <div class="size11-100 bo4 m-r-10">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="address" placeholder="Адрес доставки" required>
                        </div>
                    </div>
    
                    <div class="flex-w flex-m w-full-sm m-b-10">
                        <div class="size11-100 bo4 m-r-10">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="E-Mail">
                        </div>
                    </div>
    
                    <div class="flex-w flex-m w-full-sm m-b-10">
                        <div class="size11-100 bo4 m-r-10">
                            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="comment" placeholder="Комментарий">
                        </div>
                    </div>
                </div>
                
                <!-- Total -->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-l-40 p-r-40 p-t-30 p-b-38 m-l-auto m-b-30">
                    <h5 class="m-text20 p-b-24">
                    Итоги
                    </h5>
                    
                    <!--  -->
                    <div class="flex-w flex-sb-m p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Доставка:
                        </span>
                        
                        <span class="m-text21 w-size20 w-full-sm">
                            <span class="simpleCart_shipping"></span>
                        </span>
                    </div>
                    
                    <!--  -->
                    <div class="flex-w flex-sb-m p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Всего:
                        </span>
                        
                        <span class="m-text21 w-size20 w-full-sm">
                            <span class="simpleCart_grandTotal"></span>
                        </span>
                    </div>
                    
                    <div class="size15 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 simpleCart_checkout">
                            Оформить заказ
                        </button>
                    </div>
                    
                    <div class="size15 trans-0-4 mt-2">
                        <p style="font-size: 12px;">
                            Нажимая кнопку "Оформить заказ", вы подтверждаете <a href="#" style="font-size: 12px; text-decoration: underline">согласие на обработку персональных данных</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
