{% extends "base.html" %}

{% block style %}
    {{ parent() }}
    <style>
        .image-fix {
            min-height: 360px;
            -o-object-fit: contain;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            $('select[name="sort[price]"]')
                .select2({minimumResultsForSearch: -1, placeholder: "Сортировка",})
                .val('{{ _request.sort.price }}')
                .trigger('change')
                .on('change.select2', function () {
                    location = location.pathname + '?sort[price]=' + $(this).val();
                });
        });
    </script>
{% endblock %}

{% block canonical %}{{ current_path(false) }}{% endblock %}

{% block content %}
    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                    <div class="leftbar p-r-20 p-r-0-sm">
                        <h4 class="m-text14 p-b-7">
                            Категории
                        </h4>
                        
                        <ul class="p-b-54">
                            <li class="p-t-4">
                                <a href="/catalog" class="s-text13 {% if is_current_path('/catalog') %}active1{% endif %}">
                                    Все
                                </a>
                            </li>
                            {% set current_catalog = '' %}
                            {% for item in catalog %}
                                <li class="p-t-4">
                                    {% set active = '' %}
                                    {% if item.link == path[0] %}
                                        {% set current_catalog = item.link ~ '/' %}
                                        {% set active = 'active1' %}
                                    {% endif %}
                                    <a href="/catalog/{{ item.link }}" class="s-text13 {{ active }}">
                                        {{ item.nameZvena }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
    
                        <div class="search-product pos-relative bo4 of-hidden">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Поиск...">
                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
    
                        <ul class="search-result p-b-54" style="display: none;">
                            <li class="p-t-4">
                                <a href="#" class="s-text13"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                    <div class="flex-sb-m flex-w p-b-35">
                        <div class="flex-w">
                            <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                                <select class="selection-2" name="sort[price]">
                                    <option></option>
                                    <option value="asc">От дешевых к дорогим</option>
                                    <option value="desc">От дорогих к дешевым</option>
                                </select>
                            </div>
                        </div>
        
                        <span class="s-text8 p-t-5 p-b-5">
							Показано {{ offset * limit + 1 }}–{{ offset * limit + limit }} из {{ items._rowsCount }} товаров
						</span>
                    </div>
                    
                    <!-- Product -->
                    <div data-catalog class="row">
                        {% block ParticlePagination %}
                            {% for item in items %}
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                            {% if item.getImages() is not empty %}
                                                {% for img in item.getImages() %}
                                                    <img src="{{ img.path('medium') }}" alt="{{ item.name }}" class="image-fix">
                                                {% endfor %}
                                            {% else %}
                                                <img src="/images/item-01.jpg">
                                            {% endif %}
                                            
                                            <div class="block2-overlay trans-0-4">
                                                <div class="block2-btn-addcart w-size1 trans-0-4 simpleCart_shelfItem">
                                                    {% include 'trademaster.twig' with {
                                                        'defaultImage': '/images/item-01.jpg',
                                                        'quantity'  : 10
                                                    } %}
                                                    
                                                    <!-- Button -->
                                                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4 item_add">
                                                        В корзину
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="block2-txt p-t-20">
                                            <a href="/catalog/{{ catalog.where('idZvena', item.vStrukture).first().link }}/{{ item.link }}" class="block2-name dis-block s-text3 p-b-5">
                                                {{ item.name }}
                                            </a>
                                            
                                            <span class="block2-price m-text6 p-r-5">
                                                {{ item.price }} {{ module_trademaster_currency }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                    
                    <!-- Pagination -->
                    <div class="pagination flex-m flex-w p-r-50">
                        {% set pageCount = (items._rowsCount / limit)|round(0, 'ceil') %}
                        
                        {% if pageCount > 1 %}
                            {% for i in 1..pageCount %}
                                {% set active = '' %}
                                {% if loop.index - 1 == offset %}
                                    {% set active = 'active-pagination' %}
                                {% endif %}
                            
                                <a href="/catalog/{{ current_catalog }}{{ loop.index - 1 }}{{ current_query() }}" class="item-pagination flex-c-m trans-0-4 {{ active }}">{{ loop.index }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
