{% extends "base.html" %}

{% block style %}
    {{ parent() }}
    <style>
        .image-fix {
            min-height: 360px;
            -o-object-fit: contain;
        }
    </style>
{% endblock %}

{% block title %}{{ item.name }} | {{ parent() }}{% endblock %}
{% block canonical %}{{ current_path(false) }}{% endblock %}

{% block content %}
    <!-- breadcrumb -->
    <div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
        <a href="/" class="s-text16">
            Главная
            <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
        </a>
        <a href="/catalog" class="s-text16">
            Каталог
            <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
        </a>
    
        {% set parent = catalog.where('idZvena', item.vStrukture).first() %}
        {% if parent is not empty %}
            <a href="/catalog/{{ parent.link }}" class="s-text16">
                {{ parent.nameZvena }}
                <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
            </a>
        {% endif %}
        
        <span class="s-text17">
            {{ item.name }}
        </span>
    </div>

    <!-- product -->
    <div class="container bgwhite p-t-35 p-b-80">
        <div class="flex-w flex-sb">
            <div class="w-size13 p-t-30 respon5">
                <div class="wrap-slick3 flex-sb flex-w">
                    <div class="wrap-slick3-dots"></div>
                    
                    <div class="slick3">
                        {% if item.getImages() is not empty %}
                            {% for img in item.getImages() %}
                                <div class="item-slick3" data-thumb="{{ img.path('small') }}">
                                    <div class="wrap-pic-w">
                                        <img src="{{ img.path('medium') }}" alt="{{ item.name }}">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="item-slick3" data-thumb="/themes/Default/images/thumb-item-02.jpg">
                                <div class="wrap-pic-w">
                                    <img src="/themes/Default/images/product-detail-01.jpg" alt="Нет имени">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    
            <div class="w-size14 p-t-30 respon5">
                <h4 class="product-detail-name m-text16 p-b-13">
                    {{ item.name }}
                </h4>
                
                <span class="m-text17">
                    <span>{{ item.price }}</span> {{ module_trademaster_currency }}
                </span>
                
                <!--<p class="s-text8 p-t-10"></p>-->
                
                <div class="p-t-33 p-b-60">
                    <div class="flex-r-m flex-w p-t-10">
                        <div class="w-size16 flex-m flex-w simpleCart_shelfItem">
                            <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                                <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                                    <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                </button>
                                
                                <input class="size8 m-text18 t-center num-product item_quantity" type="number" name="num-product" value="1">
                                
                                <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                                    <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            
                            <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                                {% include 'trademaster.twig' with {
                                    'defaultImage': '/images/item-01.jpg',
                                    'quantity'  : 10
                                } %}
                                
                                <!-- Button -->
                                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 item_add">
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="p-b-45">
                    <span class="s-text8 m-r-35">Артикул: {{ item.artikul }}</span>
                    <span class="s-text8">Поставщик: {{ item.postavName }}</span>
                </div>
                
                <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                    <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                        Описание
                        <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                        <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                    </h5>
                    
                    <div class="dropdown-content dis-none p-t-15 p-b-23">
                        <p class="s-text8">
                            {{ item.opisanie|nl2br }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="relateproduct bgwhite p-t-45 p-b-138">
        <div class="container">
            <div class="sec-title p-b-60">
                <h3 class="m-text5 t-center">
                    Другие товары
                </h3>
            </div>
            
            <div class="wrap-slick2">
                <div class="slick2">
                    
                    {% for item in tm_catalog_items([], null, 6) %}
                        <div class="item-slick2 p-l-15 p-r-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    {% if item.getImages() is not empty %}
                                        {% for img in item.getImages() %}
                                            <img src="{{ img.path('medium') }}" alt="{{ item.name }}" class="image-fix">
                                        {% endfor %}
                                    {% else %}
                                        <img src="/images/item-01.jpg">
                                    {% endif %}
                                    
                                    <div class="block2-overlay trans-0-4">
                                        <div class="block2-btn-addcart w-size1 trans-0-4 simpleCart_shelfItem">
                                            <span class="d-none item_id item_product">{{ item.idTovar }}</span>
                                            <span class="d-none item_link">/catalog/{{ catalog.where('idZvena', item.vStrukture).first().link }}/{{ item.link }}</span>
                                            <span class="d-none item_name">{{ item.name }}</span>
                                            <span class="d-none item_price">{{ item.price }}</span>
                                            <span class="d-none item_artikul">{{ item.artikul }}</span>
                                            {% if item.getImages() is not empty %}
                                                {% set img = item.getImages().first() %}
                                                <span class="d-none item_thumb">{{ img.path() }}</span>
                                            {% else %}
                                                <span class="d-none item_thumb">/images/item-01.jpg</span>
                                            {% endif %}
                                            <span class="d-none item_quantity">1</span>
        
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4 item_add">
                                                В корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="block2-txt p-t-20">
                                    <a href="/catalog/{{ catalog.where('idZvena', item.vStrukture).first().link }}/{{ item.link }}" class="block2-name dis-block s-text3 p-b-5">
                                        {{ item.name }}
                                    </a>
                    
                                    <span class="block2-price m-text6 p-r-5">
                                        <span>{{ item.price }}</span> {{ module_trademaster_currency }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        
        </div>
    </section>
{% endblock %}
