{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Формы</h2>
    {% if _post.id is empty %}
        <p>Добавление новой формы</p>
    {% else %}
        <p>Редактирование формы</p>
    {% endif %}
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/form">
        <button type="button" class="btn btn-danger notika-btn-danger waves-effect">Назад</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <input type="hidden" name="id" value="{{ _post.id }}" />

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Название: </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="title" name="title" value="{{ _post.title }}" class="form-control" placeholder="Форма обратной связи">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Получатель: </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="email" id="mailto" name="mailto" value="{{ _post.mailto }}" class="form-control" placeholder="mailto@example.com:name;..">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.mailto }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-push-2 col-lg-10 col-md-6 col-sm-6 col-xs-12">
                                <div class="toggle-select-act fm-cmp-mg" style="padding-top: 12px; float: left">
                                    <div class="nk-toggle-switch">
                                        <label for="mailto_strong" class="ts-label">Только один адрес получателя</label>
                                        <input id="mailto_strong" name="mailto_strong" value="1" {% if _post.mailto_strong %}checked{% endif %} type="checkbox" hidden="hidden">
                                        <label for="mailto_strong" class="ts-helper"></label>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-default waves-effect" style="margin-left: 10px; margin-top: 6px; float: right" data-toggle="popover" data-placement="right" data-content="Если тумблер находится в выключенном состоянии, то адрес получателя можно будет передать из вне." data-original-title="" title=""><i class="fa fa-question-circle"></i></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Домены: </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="origin" name="origin" value="{{ _post.origin }}" class="form-control" placeholder="PiedPiper.com;..">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.origin }}</p>
                            </div>
                        </div>

                        {% if _post.id is not empty %}
                            <div class="row">
                                <div class="col-lg-push-2 col-lg-10 col-md-6 col-sm-6 col-xs-12">
                                    <div class="toggle-select-act fm-cmp-mg" style="padding-top: 12px; float: right">
                                        <div class="nk-toggle-switch">
                                            <label for="hash" class="ts-label">Сбросить ключ формы</label>
                                            <input id="hash" name="hash" value="1" type="checkbox" hidden="hidden">
                                            <label for="hash" class="ts-helper"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="notika-btn-hd">
                            <h5>Шаблон сообщения</h5>
                        </div>
                        <textarea name="message" class="html-editor-cm" data-btn-disable="true" data-code="true" data-value="{{ _post.message }}"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                            {% if _post.id is empty %} Добавить {% else %} Сохранить {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
