{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Формы</h2>
    <p>Функционал форм позволяет принимать данные с сайта или форм встроенных в удаленные сайты.</p>
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/form/add">
        <button type="button" class="btn btn-primary notika-btn-primary waves-effect">Добавить форму</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-sc-ex">
                            <thead>
                                <tr>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">#</th>
                                    <th>Название</th>
                                    <th class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">Домены</th>
                                    <th class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">Адрес формы</th>
                                    <th class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td class="text-center">{{ item.id }}</td>
                                        <td>{{ item.title }}</td>
                                        <td class="text-center">{{ item.origin|trim(';')|replace({';': '<br>'})|raw }}</td>
                                        <td class="text-center">
                                            <code>/form/{{ item.hash }}</code>
                                        </td>
                                        <td class="text-right">
                                            <a href="/cup/form/{{ item.id }}/edit" class="btn btn-default notika-btn-default waves-effect btn-sm">
                                                <i class="fa fa-pencil"></i> Редактировать
                                            </a>
                                            <form action="/cup/form/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить форму?');">
                                                <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                    <i class="fa fa-remove"></i> Удалить
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
