{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Обзор</h2>
    <p>Добро пожаловать в панель администратора <span class="bread-ntd">OmniCMS</span></p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if statistic is not empty %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="basic-tb-hd">
                            <h2>Сводка</h2>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 60%; border-bottom: none;">Пункт</th>
                                        <th style="width: 40%; border-bottom: none;" class="text-right">Значение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in statistic %}
                                        <tr>
                                            <td>{{ item.title }}</td>
                                            <td class="text-right">{{ item.value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
    
            {% if bin is not empty %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="basic-tb-hd">
                            <h2>Действия</h2>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 60%; border-bottom: none;">Название</th>
                                        <th style="width: 40%; border-bottom: none;" class="text-right">Действие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in bin %}
                                    <tr>
                                        <td>{{ item.title }}</td>
                                        <td class="text-right">
                                            <form action="/cup/bin" method="post" onsubmit="return confirm('Вы действительно хотите выполнить это?');">
                                                <input type="hidden" name="script" value="{{ item.script }}" />
                                                <button class="btn btn-{% if item.button_variant is not empty %}{{ item.button_variant }}{% else %}primary{% endif %} btn-sm">{% if item.button is not empty %}{{ item.button }}{% else %}Выполнить{% endif %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

