{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Файлы</h2>
    <p>Ниже отображаются все файлы загруженные в систему</p>
{% endblock %}

{% block content %}
    <div class="data-table-area">
        <div class="container">
            <div class="row dropzone-area" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdone-nk">
                        <div class="multi-uploader-cs">
                            <form id="upload" method="post" class="dropzone dropzone-nk needsclick dz-clickable">
                                <div class="dz-message needsclick download-custom">
                                    <i class="notika-icon notika-cloud"></i>
                                    <h2>Загрузка файлов</h2>
                                    <p>
                                        <span class="note needsclick">
                                            Перетащите файлы сюда или просто нажмите
                                        </span>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th width="10%">Размер</th>
                                        <th width="15%">Добавлено</th>
                                        <th width="10%" class="no-sorting" width="10%">Действие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in list %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>
                                                <a
                                                    href="{{ item.path() }}"
                                                    target="_blank"
                                                    
                                                    {% if item.item %}
                                                        data-trigger="hover"
                                                        data-toggle="popover"
                                                        data-placement="top"
                                                        data-content="Файл используется в {{ item.item }}:{{ item.item_id }}"
                                                        title=""
                                                    {% endif %}
                                                >
                                                    {{ item.name }}
                                                </a>
                                            </td>
                                            <td data-sort="{{ item.size }}">{{ item.size() }}</td>
                                            <td data-sort="{{ item.date|date('U') }}">{{ item.date|date('d.m.Y H:m') }}</td>
                                            <td>
                                                <form action="/cup/files/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить файл?');">
                                                    <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                        <i class="fa fa-remove"></i> Удалить
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th>Размер</th>
                                        <th>Дата</th>
                                        <th>Действие</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable({
                'language': {
                    'lengthMenu': 'Отображать _MENU_ строк на страницу',
                    'zeroRecords': 'Нет результатов',
                    'info': 'Страница _PAGE_ из _PAGES_',
                    'infoEmpty': 'Нет записей',
                    'infoFiltered': '(проверено в _MAX_ результатах)'
                }
            });
        });
    </script>
{% endblock %}
