{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Журнал</h2>
    <p>Здесь можно найти подозрительные действия или ошибки</p>
    <p>Отображаются последние 100 записей</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list">
                    <div class="bsc-tbl-st">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Уровень</th>
                                    <th>Сообщение</th>
                                    <th>Операция</th>
                                    <th>Пользователь</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.level }}</td>
                                        <td>{{ item.message }}</td>
                                        <td>
                                            <table style="width: 100%">
                                                {% for key, param in item.data %}
                                                    <tr>
                                                        <td style="width: 50%"><b>{{ key }}</b></td>
                                                        <td style="width: 50%">
                                                            {% if param %}
                                                                <code>{{ param|join(', ') }}</code>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                        <td>
                                            <span
                                                data-trigger="hover"
                                                data-toggle="popover"
                                                data-placement="top"
                                                data-content="{{ item.client.agent }}"
                                                title=""
                                            >
                                                {{ item.client.ip }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

