{% extends "cup/base.html" %}

{% block body %}
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <div class="nk-form">
                <form method="post" data-recaptcha>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro">
                            <i class="fa fa-unlock"></i>
                        </span>
                        <div class="nk-int-st">
                            <input type="password" name="password" class="form-control" placeholder="Пароль">
                        </div>
                    </div>
                    
                    {% if module_panel_authenticator %}
                        <div class="input-group mg-t-15">
                            <span class="input-group-addon nk-ic-st-pro">
                                <i class="fa fa-key"></i>
                            </span>
                            <div class="nk-int-st">
                                <input type="text" name="authenticator" class="form-control" placeholder="Аунтификатор">
                            </div>
                        </div>
                    {% endif %}
                    
                    <button class="btn btn-login btn-success btn-float">
                        <i class="fa fa-sign-in"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
