{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Настройки</h2>
    <p>Всевозможные поля для ввода и каждое за что-то отвечает</p>
{% endblock %}

{% block content %}
    <div class="container">
        {% for namespace, item in list %}
            {% if item.editable and item.params %}
                <form action="/cup/settings" method="post">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div style="padding: 20px; background: #ffffff;">
                                <div class="basic-tb-hd">
                                    <h2>{{ item.title }}</h2>
                                    <p>{{ item.description }}</p>
                                </div>
                                
                                {% if item.params is not empty %}
                                    <input type="hidden" name="namespace" value="{{ namespace }}">
                                    
                                    {% for key, param in item.params %}
                                        <div class="row">
                                            {% if param.type == 'separator' %}
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                                                    {% if param.title %}
                                                        <b>{{ param.title }}</b>
                                                    {% endif %}
                                                    <hr style="margin-top: 0;">
                                                </div>
                                            {% else %}
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    {{ param.title }}<br />
                                                    <span class="text-muted">{{ param.description }}</span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    {% if param.type == 'text' %}
                                                        <div class="form-group">
                                                            <div class="nk-int-st">
                                                                <input type="text" class="form-control" name="{{ key }}" value="{{ _post[key] ? _post[key] : param.value }}" placeholder="{{ param.placeholder }}" {% if param.editable == false %}readonly{% endif %}>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    
                                                    {% if param.type == 'textarea' %}
                                                        <div class="form-group">
                                                            <div class="nk-int-st">
                                                                <textarea class="form-control" name="{{ key }}" rows="3" {% if param.editable == false %}readonly{% endif %}  placeholder="{{ param.placeholder }}">{{ _post[key] ? _post[key] : param.value }}</textarea>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    
                                                    {% if param.type == 'select' %}
                                                        <div class="form-group">
                                                            <div class="nk-int-st">
                                                                <div class="bootstrap-select fm-cmp-mg">
                                                                    <select name="{{ key }}" class="selectpicker">
                                                                        {% for k, v in param.options %}
                                                                            <option value="{{ k }}" {% if param.value == k %}selected{% endif %}>{{ v }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    
                                                    {% if param.type == 'switch' %}
                                                        <div class="form-group">
                                                            <div class="nk-int-st">
                                                                <div class="bootstrap-select fm-cmp-mg">
                                                                    <select name="{{ key }}" class="selectpicker">
                                                                        <option value="on" {% if param.value == "on" %}selected{% endif %}>Включить</option>
                                                                        <option value="off" {% if param.value == "off" %}selected{% endif %}>Выключить</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    
                                                    {{ param.html|raw }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-center">Нет настроек</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
        
                    {% if item.params is not empty %}
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div style="padding: 20px; background: #ffffff;">
                                    <button class="btn btn-success notika-btn-success waves-effect">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
