{% extends 'base.html' %}

{% set categoryList = news_category_fetch() %}

{% block style %}
    {{ parent() }}
    <style>
        .blog-detail-txt img {
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-position-y: center; background-image: url(https://i.pinimg.com/originals/8d/c2/da/8dc2da482b4eb1fbd60cf76c686be9ef.jpg);">
        <h2 class="l-text2 t-center">
            {{ item.title }}
        </h2>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-8 p-b-80">
                <div class="p-r-50 p-r-0-lg">
                    <div class="p-b-40">
                        <div class="blog-detail-txt p-t-33">
                            <h4 class="p-b-11 m-text24">
                                {{ item.title }}
                            </h4>
                            
                            <div class="s-text8 flex-w flex-m p-b-21">
                                <span>{{ item.date|date("d.m.Y H:m") }}</span>
    
                                {% if item.category is not empty %}
                                    <span>
                                        <span class="m-l-6 m-r-3">|</span>
                                        <a href="{{ item.category }}">
                                            {{ categoryList.where('path', item.category).first().title }}
                                        </a>
                                    </span>
                                {% endif %}
                            </div>
                            
                            <p class="p-b-25">
                                {{ item.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 col-lg-3 p-b-75">
                <div class="rightbar">
                    <h4 class="m-text23 p-t-56 p-b-34">
                        Категории
                    </h4>
                    <ul>
                        {% for index, item in categoryList %}
                            <li class="p-t-6 p-b-8 {% if index == 1 %}bo6{% else %}bo7{% endif %}">
                                <a href="{{ item.path }}" class="s-text13 p-t-5 p-b-5">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
