{% extends 'base.html' %}

{% set newsList = news_fetch(category, limit, offset * limit) %}
{% set categoryList = news_category_fetch() %}

{% block style %}
    {{ parent() }}
    <style>
        .item-blog-txt img {
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-position-y: center; background-image: url(https://i.pinimg.com/originals/8d/c2/da/8dc2da482b4eb1fbd60cf76c686be9ef.jpg);">
        <h2 class="l-text2 t-center">
            Новости
        </h2>
    </section>

    <section class="bgwhite p-t-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 p-b-75">
                    <div class="p-r-50 p-r-0-lg">
                        {% for item in newsList %}
                            <!-- item blog -->
                            <div class="item-blog p-b-80">
                                <div class="item-blog-txt p-t-33">
                                    <h4 class="p-b-11">
                                        <a href="{{ item.category }}/{{ item.path }}" class="m-text24">
                                            {{ item.title }}
                                        </a>
                                    </h4>
                                    
                                    <div class="s-text8 flex-w flex-m p-b-21">
                                        <span>{{ item.date|date("d.m.Y H:m") }}</span>
                                        
                                        {% if item.category is not empty %}
                                            <span>
                                                <span class="m-l-6 m-r-3">|</span>
                                                <a href="{{ item.category }}">
                                                    {{ categoryList.where('path', item.category).first().title }}
                                                </a>
                                            </span>
                                        {% endif %}
                                    </div>
                                    
                                    <p class="p-b-12">{{ item.description|raw }}</p>
    
                                    <a href="{{ item.category }}/{{ item.path }}" class="s-text20 p-t-10 d-block">
                                        Читать полностью
                                        <i class="fa fa-long-arrow-right m-l-8" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Pagination -->
                    <div class="pagination flex-m flex-w p-r-50">
                        {% set pageCount = (newsList._rowsCount / limit)|round(0, 'ceil') %}
                        
                        {% if pageCount > 1 %}
                            {% for i in 1..pageCount %}
                                {% set active = '' %}
                                {% if loop.index - 1 == offset %}
                                    {% set active = 'active-pagination' %}
                                {% endif %}
                            
                                <a href="{{ category }}/{{ loop.index - 1 }}" class="item-pagination flex-c-m trans-0-4 {{ active }}">{{ loop.index }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
    
                <div class="col-md-4 col-lg-3 p-b-75">
                    <div class="rightbar">
                        <h4 class="m-text23 p-t-56 p-b-34">
                            Категории
                        </h4>
                        <ul>
                            {% for index, item in categoryList %}
                                <li class="p-t-6 p-b-8 {% if index == 1 %}bo6{% else %}bo7{% endif %}">
                                    <a href="{{ item.path }}" class="s-text13 p-t-5 p-b-5">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
