{% set catalog = tm_catalog_category() %}

<style>
    .image-fix {
        min-height: 360px;
        -o-object-fit: contain;
    }
</style>

<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                {% for item in catalog.whereIn('link', ['skazochnyj-transport', 'skazochnye-devajsy']) %}
                    <!-- block1 -->
                    <div class="block1 hov-img-zoom pos-relative m-b-30">
                        {% if item.getImages() is not empty %}
                            {% for img in item.getImages() %}
                                <img src="/uploads/{{ img.salt }}/{{ img.name }}" alt="{{ item.name }}" class="image-fix">
                            {% endfor %}
                        {% endif %}
            
                        <div class="block1-wrapbtn w-size2">
                            <!-- Button -->
                            <a href="/catalog/{{ item.link }}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                                {{ item.nameZvena|replace({'Сказочный': null, 'Сказочные': null}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block2 -->
                <div class="block2 wrap-pic-w pos-relative m-b-30">
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_3057-56.jpg" alt="IMG">
            
                    <div class="block2-content sizefull ab-t-l flex-col-c-m">
                        <h4 class="m-text4 t-center w-size3 p-b-8">
                            Скидка 20%
                        </h4>
                
                        <p class="t-center w-size4">
                            Только для зарегистрированных
                        </p>
                
                        <div class="w-size2 p-t-25">
                            <!-- Button -->
                            <a href="/register" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                                Регистрация
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                {% for item in catalog.whereIn('link', ['skazochnye-ugoshheniya', 'novyj-god']) %}
                    <!-- block1 -->
                    <div class="block1 hov-img-zoom pos-relative m-b-30">
                        {% if item.getImages() is not empty %}
                            {% for img in item.getImages() %}
                                <img src="/uploads/{{ img.salt }}/{{ img.name }}" alt="{{ item.name }}" class="image-fix">
                            {% endfor %}
                        {% endif %}
            
                        <div class="block1-wrapbtn w-size2">
                            <!-- Button -->
                            <a href="/catalog/{{ item.link }}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                                {{ item.nameZvena|replace({'Сказочные': null}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
