<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
                Наши новости
            </h3>
        </div>
        
        <div class="row">
            {% for item in news_fetch(null, 3) %}
                <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                    <!-- Block3 -->
                    <div class="block3">
                        <div class="block3-txt p-t-14">
                            <h4 class="p-b-7">
                                <a href="{{ item.category }}/{{ item.path }}" class="m-text11">
                                    {{ item.title }}
                                </a>
                            </h4>
                            <span class="s-text7">{{ item.date|date("d.m.Y H:m") }}</span>
                            <p class="s-text8 p-t-16">
                                {{ item.description|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
