<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                В контакте с нами
            </h4>
            
            <div>
                <p class="s-text7 w-size27">
                    Остались вопросы? Подойдите к консультатну в торговом зале по адресу: "Торговый Центр", Б14; или по телефону: +7 (499) 123-45-67
                </p>
                
                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>
        
        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Категории
            </h4>
            
            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Ребенку
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Подростку
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Мальчику
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Девочке
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Ссылки
            </h4>
            
            <ul>
                <li class="p-b-9">
                    <a href="/about" class="s-text7">
                        О нас
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="/contact" class="s-text7">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Помощь
            </h4>
            
            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Возврат
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Доставка
                    </a>
                </li>
                
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        FAQs
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="t-center p-l-15 p-r-15">
        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved.<br/>
            This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </div>
    </div>
</footer>
