<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>
            
            <span class="topbar-child1">
                Бесплатная доставка при заказе от 3000 рублей.
            </span>
            
            <div class="topbar-child2">
                <span class="topbar-email">
                    shop@example.com
                </span>
            </div>
        </div>
        
        <div class="wrap_header">
            <!-- Logo -->
            <a href=/" class="logo">
                Logo
            </a>
            
            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="/catalog">Каталог</a>
                        </li>
                        <li>
                            <a href="/cart">Корзина</a>
                        </li>
                        <li>
                            <a href="/news">Новости</a>
                        </li>
                        <li>
                            <a href="/guestbook">Гостевая книга</a>
                        </li>
                        <li>
                            <a href="/about">О нас</a>
                        </li>
                        <li>
                            <a href="/contact">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- Header Icon -->
            <div class="header-icons">
                <a href="/cart" class="header-wrapicon1 dis-block">
                    <img src="/themes/Default/images/icons/icon-header-02.png" class="header-icon1">
                    <span class="header-icons-noti simpleCart_quantity">0</span>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="/" class="logo-mobile">
            Logo
        </a>
        
        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a href="#" class="header-wrapicon1 dis-block">
                    <img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>
                
                <span class="linedivide2"></span>
                
                <div class="header-wrapicon2">
                    <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>
                    
                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="images/item-cart-03.jpg" alt="IMG">
                                </div>
                                
                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Товар 1
                                    </a>
                                    <span class="header-cart-item-info">1 x $17.00</span>
                                </div>
                            </li>
                        </ul>
                        
                        <div class="header-cart-total">
                            Всего: $75.00
                        </div>
                        
                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    В корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>
    
    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">
                        Бесплатная доставка при заказе от 3000 рублей.
                    </span>
                </li>
                
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                            shop@example.com
                        </span>
                    </div>
                </li>
                
                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>
                
                <li class="item-menu-mobile">
                    <a href="/">Главная</a>
                </li>
                <li class="item-menu-mobile">
                    <a href="/catalog">Каталог</a>
                </li>
                <li class="item-menu-mobile">
                    <a href="/cart">Корзина</a>
                </li>
                <li class="item-menu-mobile">
                    <a href="/news">Новости</a>
                </li>
                <li class="item-menu-mobile">
                    <a href="/about">О нас</a>
                </li>
                <li class="item-menu-mobile">
                    <a href="/contact">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
