<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Бесплатная доставка
            </h4>
            <a href="/delivery" class="s-text11 t-center">
                Нажмите здесь
            </a>
        </div>
        
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                30 дней для возврата
            </h4>
            
            <span class="s-text11 t-center">
                Просто верните товар нам
            </span>
        </div>
        
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Режим работы
            </h4>
            
            <span class="s-text11 t-center">
                Магазин работает круглосуточно
            </span>
        </div>
    </div>
</section>
