{% extends "layout.html" %}

{% block description %}Панель управления движка AEngine OmniCMS{% endblock %}
{% block title %}Центр Управления Полётом{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/svg+xml" href="/engine/skin/asset/images/favicon.svg">
    <link rel="shortcut icon" type="image/png" href="/engine/skin/asset/images/favicon.png">

    {{ styles.append('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900') }}
    {{ styles.append('/engine/skin/asset/css/bootstrap.min.css') }}
    {{ styles.append('/engine/skin/asset/css/font-awesome.min.css') }}
    {{ styles.append('/engine/skin/asset/css/normalize.css') }}
    {{ styles.append('/engine/skin/asset/css/meanmenu/meanmenu.min.css') }}
    {{ styles.append('/engine/skin/asset/css/bootstrap-select/bootstrap-select.css') }}
    {{ styles.append('/engine/skin/asset/css/datapicker/datepicker3.css') }}
    {{ styles.append('/engine/skin/asset/css/jquery.dataTables.min.css') }}
    {{ styles.append('/engine/skin/asset/css/main.css') }}
    {{ styles.append('/engine/skin/asset/css/dropzone/dropzone.css') }}
    {{ styles.append('/engine/skin/asset/css/summernote/summernote.css') }}
    {{ styles.append('/engine/skin/asset/style.css') }}
    {{ styles.append('/engine/skin/asset/css/responsive.css') }}

    {{ scripts.append('/engine/skin/asset/js/vendor/jquery-1.12.4.min.js') }}
    {{ scripts.append('/engine/skin/asset/js/meanmenu/jquery.meanmenu.js') }}
    {{ scripts.append('/engine/skin/asset/js/bootstrap-select/bootstrap-select.js') }}
    {{ scripts.append('/engine/skin/asset/js/datapicker/bootstrap-datepicker.js') }}
    {{ scripts.append('/engine/skin/asset/js/datapicker/datepicker-active.js') }}
    {{ scripts.append('/engine/skin/asset/js/data-table/jquery.dataTables.min.js') }}
    {{ scripts.append('/engine/skin/asset/js/bootstrap.min.js') }}
    {{ scripts.append('/engine/skin/asset/js/swal/sweetalert.min.js') }}
    {{ scripts.append('/engine/skin/asset/js/dropzone/dropzone.js') }}
    {{ scripts.append('/engine/skin/asset/js/summernote/summernote.js') }}
    {{ scripts.append('/engine/skin/asset/js/summernote/lang/summernote-ru-RU.js') }}
    {{ scripts.append('/engine/skin/asset/js/main.js') }}
{% endblock %}

{% block bodyinner %}
    <!-- Start Header Top Area -->
    {% include 'cup/header.html' %}
    <!-- End Header Top Area -->

    <!-- Start Menu Area -->
    {% block navbar %}{% include 'cup/navbar.html' %}{% endblock %}
    <!-- Start Menu Area -->
    
    <!-- Start Breadcomb Area-->
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-ctn">
                                        {% block breadcombleft %}
                                            <h2>Заголовок</h2>
                                            <p>Страница системы <span class="bread-ntd">OmniCMS</span></p>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    {% block breadcombright '' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcomb Area -->

    <!-- Start Content area-->
    {% block content '' %}
    <!-- End Content area-->

    <!-- Start Footer area-->
    {% include 'cup/footer.html' %}
    <!-- End Footer area-->
{% endblock %}

{% block script %}
    <script>
        (function ($) {
            "use strict";
            
            $('nav#dropdown').meanmenu();
            
        })(jQuery);
    </script>
{% endblock %}
