<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    <p style="padding-bottom: 0; margin-bottom: 0;">
                        <a href="https://t.me/ThreeHundredThree" target="_blank">Блог</a>,
                        <a href="https://t.me/ThreeHundredThreeCommunity">Сообщество</a> и <a href="#">GitHub</a>
                    </p>
                    <p style="padding-top: 0; margin-top: 0;">
                        Сделано в 0x12f
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
