{# тут мы заранее смотрим какой элемент активный и задаем ссылку #}
{% set active = '' %}{% set similar = 0 %}
{% for item in panel_navbar %}
    {% for i in item.items %}
        {% set buf = similar_path(i.link) %}
        {% if similar < buf %}
            {% set similar = buf %}
            {% set active = item.link %}
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- Mobile Menu start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            {% for item in panel_navbar %}
                            <li>
                                {% if item.items is empty %}
                                    <a href="{{ item.link }}">{{ item.title }}</a>
                                {% else %}
                                    <a data-toggle="collapse" data-target="#{{ item.link|replace({'/': ''}) }}s" href="#">{{ item.title }}</a>
                                    <ul class="collapse dropdown-header-top">
                                        {% for i in item.items %}
                                            <li><a href="{{ i.link }}">{{ i.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->

<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    {% for item in panel_navbar %}
                        <li {% if active == item.link %}class="active"{% endif %}>
                            <a data-toggle="tab" href="#{{ item.link|replace({'/': ''}) }}">
                                <i class="fa {{ item.icon }}"></i> {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content custom-menu-content">
                    {% for item in panel_navbar %}
                        {% if item.items is not empty %}
                            <div id="{{ item.link|replace({'/': ''}) }}" class="tab-pane in notika-tab-menu-bg animated flipInX {% if active == item.link %}active{% endif %}">
                                <ul class="notika-main-menu-dropdown">
                                    {% for i in item.items %}
                                        <li>
                                            <a href="{{ i.link }}">{{ i.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->
