{% extends "cup/base.html" %}

{% block bodyinner %}
    <!-- 404 Page area Start-->
    <div class="error-page-area">
        <div class="error-page-wrap">
            <h2><span class="counter">404</span></h2>
            <h4>СТРАНИЦА НЕ НАЙДЕНА</h4>
            <p>
                Страница устарела, была удалена или не существовала вовсе
            </p>
        </div>
    </div>
    <!-- 404 Page area End-->
{% endblock %}
