<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        {% for item in panel_sidebar %}
        
            {% if item.items is empty %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">
                        <span class="menu-title">{{ item.title }}</span>
                        <i class="mdi menu-icon {{ item.icon }}"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-controls="ui-basic" aria-expanded="false" data-toggle="collapse" href="#{{ item.link|replace({'/': ''}) }}">
                        <span class="menu-title">{{ item.title }}</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi menu-icon {{ item.icon }}"></i>
                    </a>
                    <div class="collapse" id="{{ item.link|replace({'/': ''}) }}">
                        <ul class="nav flex-column sub-menu">
                            {% for i in item.items %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ i.link }}">{{ i.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endif %}
        
        {% endfor %}
    </ul>
</nav>
