{% extends "base.html" %}

{% block content %}
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m">
        <h2 class="l-text2 t-center" style="color: black">
            Заказ принят
        </h2>
    </section>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            simpleCart.empty();
        });
    </script>

    <!-- Invoice -->
    <section class="cart bgwhite p-b-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <span>Заказщик</span>
                    </div>
                    <div>
                        <h2>{{ order.nameKontakt }}</h2>
                        <p>{{ order.adresKontakt }}</p>
                    </div>
                    <div>
                        <span>{{ order.telefonKontakt }}</span>
                        <span>{{ order.other1Kontakt }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <span>Состав заказа</span>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th class="t-right">Цена</th>
                            <th class="t-center">Количество</th>
                            <th class="t-right">Всего</th>
                        </tr>
                        {% for index, item in order.items %}
                            <tr>
                                <td>{{ index + 1 }}</td>
                                <td>{{ item.tovarName }}</td>
                                <td class="t-right">{{ item.price|round }}</td>
                                <td class="t-center">{{ item.kolvo }}</td>
                                <td class="t-right">{{ item.summa|round }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% if order.service is not empty %}
                        <div>
                            <span>Услуги в заказе</span>
                        </div>
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Наименование</th>
                                <th class="t-right">Всего</th>
                            </tr>
                            {% for index, item in order.service %}
                                <tr>
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ item.tovarName }}</td>
                                    <td class="t-right">{{ item.price|round }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
    
            <div class="row p-t-50">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 t-center">
                    <span>Заказ #</span>
                    <h2>{{ order.nomer }}</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 t-center">
                    <span>Время оформления</span>
                    <h2>{{ order.data|date("d.m.Y H:m") }}</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 t-center">
                    <span>К оплате</span>
                    <h2>{{ order.total }}</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
