{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Гостевая книга</h2>
    {% if _post.id is empty %}
        <p>Добавление новой записи</p>
    {% else %}
        <p>Редактирование записи</p>
    {% endif %}
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/guestbook">
        <button type="button" class="btn btn-danger notika-btn-danger waves-effect">Назад</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Автор: </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="name" name="name" value="{{ _post.name }}" class="form-control" placeholder="Имя автора">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>E-Mail: </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="email" name="email" value="{{ _post.email }}" class="form-control" placeholder="author@mail.zone">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
                            
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Дата: </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" data-datepicker="date">
                                    <div class="input-group date ">
                                        <span class="input-group-addon"></span>
                                        <input type="text" id="date" name="date" value="{{ _post.date|date('d.m.Y') }}"  class="form-control" placeholder="30.09.2018">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="notika-btn-hd">
                            <h5>Содержание</h5>
                        </div>
                        <textarea name="content" class="html-editor-cm" data-value="{{ _post.content }}"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                            {% if _post.id is empty %} Добавить {% else %} Сохранить {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
