{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Гостевая книга</h2>
    <p>Список отзывов</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-sc-ex">
                            <thead>
                                <tr>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">#</th>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-2">Имя</th>
                                    <th class="">Текст</th>
                                    <th class="text-right col-lg-1 col-md-1 col-sm-1 col-xs-1">Дата</th>
                                    <th class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-4">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td class="text-center">{{ item.id }}</td>
                                        <td>
                                            <a href="mailto:{{ item.email }}">{{ item.name }}</a>
                                        </td>
                                        <td class="">{{ item.content|raw }}</td>
                                        <td class="text-right">{{ item.date|date("d.m.Y H:i") }}</td>
                                        <td class="text-right">
                                            <a href="/cup/guestbook/{{ item.id }}/edit" class="btn btn-default notika-btn-default waves-effect btn-sm">
                                                <i class="fa fa-pencil"></i> Редактировать
                                            </a>
                                            <form action="/cup/guestbook/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
                                                <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                    <i class="fa fa-remove"></i> Удалить
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-6">Функция</th>
                                    <th class="col-6">Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>gb_fetch($limit = null, $offset = null)</strong>
                                        </p>
                                        <p>
                                            Пример:
                                            <code>gb_fetch()</code>
                                        </p>
                                        <p>
                                            Результат:
                                            <code>object(GuestBook\Collection\Item)</code>
                                        </p>
                                    </td>
                                    <td>
                                        <p>Получает список отзывов.</p>
                                        <table style="width: 100%">
                                            <tr>
                                                <td><strong>$limit</strong></td>
                                                <td>int</td>
                                                <td>ограничение на страницу</td>
                                            </tr>
                                            <tr>
                                                <td><strong>$offset</strong></td>
                                                <td>int|null</td>
                                                <td>отступ от начала</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
