<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description module_system_description %}">
        <meta name="keywords" content="{% block keywords module_system_keywords %}">
        <meta name="generator" content="{% block generator 'OmniCMS (https://t.me/AEngine)' %}">
        <meta name="author" content="{% block author 'AEngine Official' %}">
        <link rel="canonical" href="{% block canonical '' %}">
        <title>{% block title deferred %}{{ module_system_title }}{% endblock %}</title>
        {% block head '' %}

        {% block stylesheet deferred %}
            {% for style in styles %}
                <link rel="stylesheet" href="{{ style }}">
            {% endfor %}
        {% endblock %}
        {% block style '' %}
    </head>
    
    {% block body %}
        <body>
            {% block bodyinner '' %}
        </body>
    {% endblock %}

    {% block javascript deferred %}
        {% for script in scripts %}
            <script src="{{ script }}"></script>
        {% endfor %}
    {% endblock %}
    {% block script '' %}

    {{ block('recaptcha', 'util.twig') }}
    
    <!-- OmniCMS Copyright AEngine Official ( https://t.me/AEngine ) -->
</html>
