{% block item_params %}
    {% if defaultImage is empty %}
        {% set defaultImage = '/engine/skin/asset/img/post/1.jpg' %}
    {% endif %}
    {% if quantity is empty %}
        {% set quantity = false %}
    {% endif %}

    <span style="display:none;" class="item_name">{{ item.name }}</span>
    <span style="display:none;" class="item_id item_product">{{ item.idTovar }}</span>
    {% if catalog is not empty %}
        <span style="display:none;" class="item_link">{{ item.path(catalog) }}</span>
    {% endif %}
    <span style="display:none;" class="item_price">{{ item.price }}</span>
    <span style="display:none;" class="item_artikul">{{ item.artikul }}</span>
    <span style="display:none;" class="item_thumb">{{ item.firstImagePath('medium', defaultImage) }}</span>
    {% if catalog is not empty %}
        <span style="display:none;" class="item_quantity">{{ quantity }}</span>
    {% endif %}
{% endblock %}
