{# Функциональность recaptcha #}
{% block recaptcha %}
    {% if module_system_recaptcha == 'on' %}
        <style>.grecaptcha-badge { visibility: hidden; }</style>
        {{ scripts.append('https://www.google.com/recaptcha/api.js?render=' ~ module_system_recaptcha_public) }}

        <script>
            window.getRCToken = async () => console.log('Pending RC inin');

            grecaptcha.ready(() => {
                // current version
                window.getRCToken = async function () {
                    console.info('RC token');
                    let token = await grecaptcha.execute('{{ module_system_recaptcha_public }}', {action: '{{ current_path(false) }}'});
                    console.info('RC token: done');

                    return token;
                };

                // legacy function
                for (let form of document.querySelectorAll('[data-recaptcha]')) {
                    for (let button of form.querySelectorAll('button:not([type="button"]), input[type="submit"]')) {
                        let handler = async (e) => {
                            e.preventDefault();
                            e.stopPropagation();

                            button.setAttribute('data-recaptcha-loading', 'true');

                            let token = await window.getRCToken();
                            let input = document.createElement('input');
                            input.setAttribute('type', 'hidden');
                            input.setAttribute('name', 'recaptcha');
                            input.setAttribute('value', token);

                            form.appendChild(input);

                            button.setAttribute('data-recaptcha-loading', 'false');

                            button.removeEventListener('click', handler);
                            button.dispatchEvent(new Event('click'));
                        };

                        button.addEventListener('click', handler);
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}
