{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>
        Страницы
    </h2>
    {% if _post.id is empty %}
        <p>Создание новой страницы</p>
    {% else %}
        <p>Редактирование страницы</p>
    {% endif %}
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/page">
        <button type="button" class="btn btn-danger notika-btn-danger waves-effect">Назад</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">

                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Название: </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="title" name="title" value="{{ _post.title }}" class="form-control" placeholder="Моя новая страница">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Описание: </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <textarea class="form-control" id="description" name="description" placeholder="Краткое описание страницы" rows="3">{{ _post.description }}</textarea>
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.description }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Путь: </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="path" name="path" value="{{ _post.path }}" class="form-control" placeholder="/about">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.path }}</p>
                            </div>

                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Шаблон: </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="template" name="template" value="{{ _post.template }}" class="form-control" placeholder="layout.html">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.template }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <textarea name="content" class="html-editor-cm" data-btn-disable="true" data-code="true" data-value="{{ _post.content }}"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                            {% if _post.id is empty %} Добавить {% else %} Сохранить {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
