{% extends "cup/base.html" %}

{% block breadcombleft %}
<h2>Записи</h2>
    {% if _post.id is empty %}
        <p>Добавление новой публикации на сайт</p>
    {% else %}
        <p>Редактирование публикации</p>
    {% endif %}
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/news">
        <button type="button" class="btn btn-danger notika-btn-danger waves-effect">Назад</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Заголовок: </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="title" name="title" value="{{ _post.title }}" class="form-control" placeholder="Моя новая запись">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
    
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="toggle-select-act fm-cmp-mg" style="padding-top: 12px; text-align: center;">
                                    <div class="nk-toggle-switch">
                                        <label for="archive" class="ts-label">Скрыть запись</label>
                                        <input id="archive" name="archive" value="1" type="checkbox" hidden="hidden" {% if _post.status == 'archive' %}checked{% endif %}>
                                        <label for="archive" class="ts-helper"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Дата: </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                <div class="form-group" data-datepicker="date">
                                    <div class="input-group date ">
                                        <span class="input-group-addon"></span>
                                        <input type="text" id="date" name="date" value="{{ _post.date|date('d.m.Y') }}"  class="form-control" placeholder="30.09.2018">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.date }}</p>
                            </div>
        
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Категория: </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                <div class="bootstrap-select fm-cmp-mg">
                                    <select name="category" class="selectpicker">
                                        {% for item in category %}
                                            <option value="{{ item.path }}" {% if _post.category == item.path %}selected{% endif %}>{{ item.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                        
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="notika-btn-hd">
                            <h5>Краткое описание</h5>
                        </div>
                        <textarea name="description" class="html-editor-cm" data-value="{{ _post.description }}"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <div class="notika-btn-hd">
                            <h5>Полное описание</h5>
                        </div>
                        <textarea name="content" class="html-editor-cm" data-value="{{ _post.content }}"></textarea>
                    </div>
                </div>
            </div>
    
            {% if _post.id is not empty %}
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                            <div class="notika-btn-hd">
                                <h5>Файлы</h5>
                            </div>
                            <div class="table-responsive">
                                <table id="data-table-basic" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Название</th>
                                            <th width="10%">Размер</th>
                                            <th width="15%">Добавлено</th>
                                            <th width="10%" class="no-sorting" width="10%">Действие</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in files %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>
                                                    <a
                                                            href="{{ item.path() }}"
                                                            target="_blank"
                                                    
                                                            {% if item.item %}
                                                            data-trigger="hover"
                                                            data-toggle="popover"
                                                            data-placement="top"
                                                            data-content="Файл используется в {{ item.item }}:{{ item.item_id }}"
                                                            title=""
                                                            {% endif %}
                                                    >
                                                        {{ item.name }}
                                                    </a>
                                                </td>
                                                <td data-sort="{{ item.size }}">{{ item.size() }}</td>
                                                <td data-sort="{{ item.date|date('U') }}">{{ item.date|date('d.m.Y H:m') }}</td>
                                                <td>
                                                    <form action="/cup/files/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить файл?');">
                                                        <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                            <i class="fa fa-remove"></i> Удалить
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Название</th>
                                            <th>Размер</th>
                                            <th>Дата</th>
                                            <th>Действие</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                            {% if _post.id is empty %} Добавить {% else %} Сохранить {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable({
                'language': {
                    'lengthMenu': 'Отображать _MENU_ строк на страницу',
                    'zeroRecords': 'Нет результатов',
                    'info': 'Страница _PAGE_ из _PAGES_',
                    'infoEmpty': 'Нет записей',
                    'infoFiltered': '(проверено в _MAX_ результатах)'
                }
            });
        });
    </script>
{% endblock %}
