{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Записи</h2>
    <p>Список записей</p>
{% endblock %}

{% block breadcombright %}
    <button type="button" class="btn nk-light-blue btn-info waves-effect" data-toggle="modal" data-target="#filter">
        <i class="fa fa-filter"></i>
    </button>
    <div class="modal fade in" id="filter" role="dialog" style="text-align: left">
        <div class="modal-dialog modals-default">
            <div class="modal-content" style="padding: 15px 15px;">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h2>Фильтр</h2>
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div style="padding: 20px; background: #ffffff;">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="cmp-int-lb cmp-int-lb1 text-right">
                                                <span>Категория: </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <div class="bootstrap-select fm-cmp-mg">
                                                <select name="category" class="selectpicker">
                                                    <option value="">-- Все --</option>
                                                    {% for item in category %}
                                                        <option value="{{ item.id }}" {% if item.id == _request.category %}selected{% endif %}>{{ item.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default waves-effect">Применить</button>
                        <button type="reset" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a class="nav-link" href="/cup/news/add">
        <button type="button" class="btn btn-primary notika-btn-primary waves-effect">Добавить запись</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-sc-ex">
                            <thead>
                                <tr>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">#</th>
                                    <th>Название</th>
                                    <th class="text-center">Категория</th>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">Дата</th>
                                    <th class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td class="text-center">{{ item.id }}</td>
                                        <td>
                                            {{ item.title }}
                                            {% if item.status == 'archive' %}
                                                <span class="text-danger">(архив)</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ category.where('path', item.category).first().title }}</td>
                                        <td class="text-center">{{ item.date|date("d.m.Y") }}</td>
                                        <td class="text-right">
                                            <a href="/cup/news/{{ item.id }}/edit" class="btn btn-default notika-btn-default waves-effect btn-sm">
                                                <i class="fa fa-pencil"></i> Редактировать
                                            </a>
                                            <form action="/cup/news/{{ item.id }}/duplicate" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите сделать копию записи?');">
                                                <button type="submit" class="btn btn-info notika-btn-danger waves-effect btn-sm">
                                                    <i class="fa fa-clone"></i> Дублировать
                                                </button>
                                            </form>
                                            <form action="/cup/news/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
                                                <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                    <i class="fa fa-remove"></i> Удалить
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-6">Функция</th>
                                    <th class="col-6">Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>news_fetch($category, $limit = 10, $offset = null)</strong>
                                        </p>
                                        <p>
                                            Пример:
                                            <code>news_fetch("/news")</code>,
                                            <code>news_fetch(1)</code>
                                        </p>
                                        <p>
                                            Результат:
                                            <code>object(News\Collection\News)</code>
                                        </p>
                                    </td>
                                    <td>
                                        <p>Получает список записей (новостей) из указанной категории.</p>
                                        <table style="width: 100%">
                                            <tr>
                                                <td><strong>$category</strong></td>
                                                <td>int|string</td>
                                                <td>идентификатор категории</td>
                                            </tr>
                                            <tr>
                                                <td><strong>$limit</strong></td>
                                                <td>int</td>
                                                <td>ограничение на страницу</td>
                                            </tr>
                                            <tr>
                                                <td><strong>$offset</strong></td>
                                                <td>int|null</td>
                                                <td>отступ от начала</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
