{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Категории записей</h2>
    {% if _post.id is empty %}
        <p>Добавление новой категории</p>
    {% else %}
        <p>Редактирование категории</p>
    {% endif %}
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/news/category">
        <button type="button" class="btn btn-danger notika-btn-danger waves-effect">Назад</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Заголовок: </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="title" name="title" value="{{ _post.title }}" class="form-control" placeholder="Блог">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.title }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Краткое описание: </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="description" name="description" value="{{ _post.description }}" class="form-control">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.description }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span>Путь: </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="path" name="path" value="{{ _post.path }}" placeholder="blog" class="form-control">
                                    </div>
                                </div>
                                <p class="text-secondary text-danger">{{ _error.path }}</p>
                            </div>
    
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="toggle-select-act fm-cmp-mg" style="padding-top: 12px; text-align: center;">
                                    <div class="nk-toggle-switch">
                                        <label for="archive" class="ts-label">Сделать слайдером</label>
                                        <input id="archive" name="slider" value="1" type="checkbox" hidden="hidden" {% if _post.slider %}checked{% endif %}>
                                        <label for="archive" class="ts-helper"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding: 20px; background: #ffffff;">
                        <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                            {% if _post.id is empty %} Добавить {% else %} Сохранить {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
