{% extends "cup/base.html" %}

{% block breadcombleft %}
    <h2>Категории записей</h2>
    <p>Список категорий записей</p>
{% endblock %}

{% block breadcombright %}
    <a class="nav-link" href="/cup/news/category/add">
        <button type="button" class="btn btn-primary notika-btn-primary waves-effect">Добавить категорию</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-sc-ex">
                            <thead>
                                <tr>
                                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">#</th>
                                    <th>Название</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Тип</th>
                                    <th class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td class="text-center">{{ item.id }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>{% if item.slider %}Слайдер{% else %}Категория{% endif %}</td>
                                        <td class="text-right">
                                            <a href="/cup/news/category/{{ item.id }}/edit" class="btn btn-default notika-btn-default waves-effect btn-sm">
                                                <i class="fa fa-pencil"></i> Редактировать
                                            </a>
                                            <form action="/cup/news/category/{{ item.id }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить категорию?');">
                                                <button type="submit" class="btn btn-danger notika-btn-danger waves-effect btn-sm">
                                                    <i class="fa fa-remove"></i> Удалить
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="padding: 20px; background: #ffffff;">
                    <div class="bsc-tbl">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-6">Функция</th>
                                    <th class="col-6">Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>news_category_fetch($limit = null)</strong>
                                        </p>
                                        <p>
                                            Пример:
                                            <code>news_category_fetch()</code>
                                        </p>
                                        <p>
                                            Результат:
                                            <code>object(News\Collection\NewsCategory)</code>
                                        </p>
                                    </td>
                                    <td>
                                        <p>Получает список категорий записей (новостей).</p>
                                        <table style="width: 100%">
                                            <tr>
                                                <td><strong>$limit</strong></td>
                                                <td>int</td>
                                                <td>ограничение на страницу</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
