{% extends "layout.html" %}

{% block head %}
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    
    {{ styles.append('/themes/Default/vendor/bootstrap/css/bootstrap.min.css') }}
    {{ styles.append('/themes/Default/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}
    {{ styles.append('/themes/Default/fonts/themify/themify-icons.css') }}
    {{ styles.append('/themes/Default/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}
    {{ styles.append('/themes/Default/fonts/elegant-font/html-css/style.css') }}
    {{ styles.append('/themes/Default/vendor/animate/animate.css') }}
    {{ styles.append('/themes/Default/vendor/css-hamburgers/hamburgers.min.css') }}
    {{ styles.append('/themes/Default/vendor/animsition/css/animsition.min.css') }}
    {{ styles.append('/themes/Default/vendor/select2/select2.min.css') }}
    {{ styles.append('/themes/Default/vendor/daterangepicker/daterangepicker.css') }}
    {{ styles.append('/themes/Default/vendor/slick/slick.css') }}
    {{ styles.append('/themes/Default/vendor/lightbox2/css/lightbox.min.css') }}
    {{ styles.append('/themes/Default/css/util.css') }}
    {{ styles.append('/themes/Default/css/main.css') }}
    {{ scripts.append('/themes/Default/vendor/jquery/jquery-3.2.1.min.js') }}
    {{ scripts.append('/themes/Default/vendor/animsition/js/animsition.min.js') }}
    {{ scripts.append('/themes/Default/vendor/bootstrap/js/popper.js') }}
    {{ scripts.append('/themes/Default/vendor/bootstrap/js/bootstrap.min.js') }}
    {{ scripts.append('/themes/Default/vendor/select2/select2.min.js') }}
    {{ scripts.append('/themes/Default/vendor/slick/slick.min.js') }}
    {{ scripts.append('/themes/Default/js/slick-custom.js') }}
    {{ scripts.append('/themes/Default/vendor/countdowntime/countdowntime.js') }}
    {{ scripts.append('/themes/Default/vendor/lightbox2/js/lightbox.min.js') }}
    {{ scripts.append('/themes/Default/vendor/sweetalert/sweetalert.min.js') }}
    {{ scripts.append('/themes/Default/vendor/simplecart/simpleCart.min.js') }}
    {{ scripts.append('/themes/Default/js/main.js') }}
{% endblock %}

{% block body %}
    <body class="animsition" style="animation-duration: 1500ms; opacity: 1;">
        {% include 'theme/header.html' %}
        
        {% block content %}
            {% include 'theme/slider.html' %}
            {% include 'theme/banner-1.html' %}
            {% include 'theme/blog.html' %}
            {% include 'theme/shipping.html' %}
        {% endblock %}
        
        {% include 'theme/footer.html' %}

        <!-- Back to top -->
        <div class="btn-back-to-top bg0-hov" id="myBtn" style="display: flex;">
            <span class="symbol-btn-back-to-top">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </span>
        </div>

        <!-- Container Selection1 -->
        <div id="dropDownSelect1"></div>

        <script type="text/javascript">
            (() => {
                $(".selection-1").select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $('#dropDownSelect1')
                });
        
                $('.block2-btn-addcart').each(function(){
                    var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                    $(this).on('click', function(){
                        swal(nameProduct, "is added to cart !", "success");
                    });
                });
        
                $('.block2-btn-addwishlist').each(function(){
                    var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                    $(this).on('click', function(){
                        swal(nameProduct, "is added to wishlist !", "success");
                    });
                });
            })
        </script>
    </body>
{% endblock %}
