{% extends "base.html" %}

{% block content %}
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-position-y: center; background-image: url(https://i.pinimg.com/originals/8d/c2/da/8dc2da482b4eb1fbd60cf76c686be9ef.jpg);">
        <h2 class="l-text2 t-center">
            Гостевая книга
        </h2>
    </section>
    
    <section class="bgwhite p-t-60 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="m-text20 p-b-24">
                        Другие отзывы
                    </h5>
    
                    {% set comments = gb_fetch() %}
                    {% if comments is not empty %}
                        {% for item in comments %}
                            <div>
                                <div>
                                    <span class="s-text8">Имя:</span> {{ item.name }}
                                    <span class="s-text8">Время отзыва:</span> {{ item.date|date("d.m.Y H:m") }}<br/>
                                </div>
                                
                                <p class="s-text13">{{ item.content|raw }}</p>
                            </div>
                            <hr class="p-b-20">
                        {% endfor %}
                    {% else %}
                        <span>Еще нет отзывов</span>
                    {% endif %}
                </div>
                
                <div class="col-md-4">
                    <h5 class="m-text20 p-b-24">
                        Ваш отзыв
                    </h5>
    
                    <form method="post" data-recaptcha>
                        <div class="flex-w flex-m w-full-sm m-b-10">
                            <div class="size11-100 bo4 m-r-10">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Имя и фамилия" required>
                            </div>
                        </div>
    
                        <div class="flex-w flex-m w-full-sm m-b-10">
                            <div class="size11-100 bo4 m-r-10">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="E-Mail" required>
                            </div>
                        </div>
    
                        <div class="flex-w flex-m w-full-sm m-b-10">
                            <div class="size11-100 bo4 m-r-10">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="content" placeholder="Комментарий" required>
                            </div>
                        </div>
    
                        <div class="size15 trans-0-4">
                            <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
